{% extends 'front/index.html.twig' %}



{% block body %}


    <div class="messenger-container">
        <div class="discussions-list">
            <h2>My Discussions</h2>
            <ul>
                {% for discussion in discussions %}
                    <li>
                        <a href="{{ path('app_discussions_show', {'id': discussion.id}) }}">
                            Discussion with {{ discussion.utilisateur2Id }}
                        </a>
                    </li>
                {% if selectedDiscussion and selectedDiscussion.id == discussion.id %}
                    <div class="selected-discussion">
                        <h3>Conversation with {{ discussion.utilisateur2Id }}</h3>
                        <ul>
                            {% for message in selectedDiscussion.messages %}
                                <li>
                                    <strong>{{ message.sender }}:</strong> {{ message.content }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% else %}
                    <li>No discussions found</li>
                {% endfor %}
            </ul>
            <a href="{{ path('app_discussions_new') }}">Create new discussion</a>
        </div>
        <div class="discussion-details">



{% endblock %}
