{% extends 'front/index.html.twig' %}
{% block title %}My Discussions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css-front/disscusion.css') }}">
{% endblock %}
{% block body %}
    <div class="messenger-container">
        <!-- Discussions List -->
        <div class="discussions-list">
            <h2>My Discussions</h2>
            <ul>
                {% for discussion in discussions %}
                    {% set otherParticipant = discussion.getOtherParticipant(app.user) %}
                    <li>
                        <a href="{{ path('app_discussions_show', {'id': discussion.id}) }}">
                            {{ otherParticipant.getName() }}
                            <br>
                            {% set lastMessage = discussion.getLastMessage() %}
                            Last message: {% if lastMessage %}{{ lastMessage.content }}{% else %}No messages yet{% endif %}
                        </a>
                    </li>
                {% else %}
                    <li>No discussions found</li>
                {% endfor %}
            </ul>
            <a href="{{ path('app_discussions_new') }}" class="new-discussion">Create new discussion</a>
        </div>

        <!-- Placeholder for Chat Interface -->
        <div class="discussion-details">
            {% block chat_interface %}
                <p class="placeholder-text">Select a discussion to view messages</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}