{% extends 'front/index.html.twig' %}

{% block title %}Logement index{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Logement index</h1>
   
    <table class="table table-striped table-hover shadow-sm">
        <thead class="table-primary">
            <tr>
                <th>Id</th>
                <th>Adresse</th>
                <th>Code_postal</th>
                <th>Superficie</th>
                <th>Description</th>
                <th>Date_ajout</th>
                <th>ProprietaireId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for logement in logements %}
            <tr>
                <td>{{ logement.id }}</td>
                <td>{{ logement.Adresse }}</td>
                <td>{{ logement.CodePostal }}</td>
                <td>{{ logement.superficie }}</td>
                <td>{{ logement.Description }}</td>
                <td>{{ logement.dateAjout ? logement.dateAjout|date('Y-m-d') : '' }}</td>
                <td>{{ logement.ProprietaireId }}</td>
                <td>
                    <a href="{{ path('app_logement_show', {'id': logement.id}) }}" class="btn btn-sm text-primary" title="Voir">
                    <i class="bi bi-eye"></i>show</a>
                    <a href="{{ path('app_logement_edit', {'id': logement.id}) }}" class="btn btn-sm text-warning" title="Modifier">
                    <i class="bi bi-pencil"></i>edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="d-flex justify-content-end mb-5">
    <a href="{{ path('app_logement_new') }}" class="btn btn-success">
    <i class="bi bi-plus-circle"></i>Create new</a>

    </div>
</div>


<style>
    .btn i {
        font-size: 1.2rem;
        
    }
    .btn-sm {
        padding: 0.2rem 0.5rem;
        
    }
    
    
</style>
{% endblock %}
